#dateP>#dateIcon {
    display: flex;
    align-items: center;
}

#modalFilm {
    display: flex;
}

#mImg {
    width: 40%;
    max-width: 300px;
}

#mHoras>.btn {
    color: black;
    margin: 10px;
}

#modalFilm .horaSelect {
    background-color: #b66ea4 !important;
}

#mImg {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.card {
    -webkit-transition: transform 0.5s ease;
    /* Safari */
    transition: transform 0.5s ease;
}

.cardHover {
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    transform: scale(1.05, 1.05);
}

/**********************/

.prelo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.none {
    display: none;
}

#infoFlotante {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.dividir {
    display: flex;
    justify-content: space-between;
}

#contDescargar {
    display: flex;
    justify-content: center;
}

#contFilms {
    display: flex;
    flex-wrap: wrap;
}